<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div id="footer" class="footer" th:fragment="footer">
    <div class="all">
        <div class="foot_info">
            <div>
                <ul class="foot_menu" style="padding-left:8%">
                    <li><a href="/info/shopinfo">ㆍ회사소개</a></li>
                    <li><a href="/info/guide">ㆍ이용안내</a></li>
                    <li><a href="/info/agreement">ㆍ이용약관</a></li>
                    <li><a href="/info/privacy">ㆍ개인정보처리방침</a></li>
                </ul>
                <ul class="shop_info" style="padding-left:0">
                    <span>(주)KHCLOSET </span>
                    <span>대표 : KH클로젯</span>
                    <span>사업자등록번호 : 123-45-67890</span>
                    <br>
                    <span>주소 : 서울특별시 강남구 역삼동 테헤란로 14길 6 남도빌딩, 5층 T-Class </span>
                    <br>
                    <span>통신판매업신고 : 제2022-서울서초-1234호 </span>
                    <p>Copyright©. KHCLOSET 1팀 All Rights Reserved.</p>

                </ul>
            </div>
        </div>
        <div id="all_center" class="cscenter">
            <ul>
                <li class="call"><h2>C/S CENTER</h2>
                    <p class="bold">
                        1588-1234
                    </p>
                    <div class="time">
                        <div>
                            <span>운영시간</span><span>11:00-17:00</span>
                        </div>
                        <div>
                            <span>점심시간</span><span>12:00-13:00</span>
                        </div>
                        <div>
                            <span>휴무일</span><span>일요일, 공휴일</span></div>
                    </div>
                </li>

                <li class="bank">
                    <h2>BANK INFO</h2>
                    <p class="bold"> 국민은행 123456789000 </p>
                    <p>예금주 : 주식회사 케이에이치클로젯</p>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</div>
</html>