<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="header2">
    <head>
        <link rel='stylesheet' href='/css/woocommerce-layout.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='/css/woocommerce-smallscreen.css' type='text/css'
              media='only screen and (max-width: 768px)'/>
        <link rel='stylesheet' href='/css/woocommerce.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='/css/font-awesome.min.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='/css/style.css' type='text/css' media='all'/>
        <link rel='stylesheet'
              href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700'
              type='text/css' media='all'/>
        <link rel='stylesheet' href='/css/easy-responsive-shortcodes.css' type='text/css' media='all'/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link th:href="@{/css/style.css}" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <th:block layout:fragment="script"></th:block>
        <th:block layout:fragment="css"></th:block>
    </head>
    <body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
    <div id="page">
        <div>
            <header id="masthead" class="site-header">
                <div class="site-branding">
                    <h1 class="site-title" style="font-family:fantasy"><a href="/" rel="home">MyPage</a>
                        <h2 class="site-description">
                            <a href="/admin/item/new" sec:authorize="hasRole('ADMIN')">Admin Page |</a>
                            <a href="/members/login" sec:authorize="isAnonymous()"> Login |</a>
                            <a href="/members/logout" sec:authorize="isAuthenticated()"> Logout </a>
                            <a href="/members/new" sec:authorize="isAnonymous()">Sign Up </a>
                            <a href="/cart" sec:authorize="isAuthenticated()">| Mypage</a>
                        </h2>
                    </h1>
                </div>

                <div>
                    <nav id="site-navigation" class="main-navigation">
                        <button class="menu-toggle">Menu</button>
                        <div class="menu-menu-1-container">
                            <ul id="menu-menu-1" class="menu">
                                <li><a href="/members/user">개인정보수정</a>
                                </li>
                                <li><a href="/qna/list">QNA</a>
                                </li>
                                <li><a href="/cart">장바구니</a>
                                </li>
                                <li><a href="/orders">주문내역</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <script src='/js/jquery.js'></script>
            <script src='/js/plugins.js'></script>
            <script src='/js/scripts.js'></script>
            <script src='/js/masonry.pkgd.min.js'></script>
        </div>

    </div>
    </body>
</div>

</html>
