<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>KH CLOSET</title>
        <link rel='stylesheet' href='/css/woocommerce-layout.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='/css/woocommerce-smallscreen.css' type='text/css'
              media='only screen and (max-width: 768px)'/>
        <link rel='stylesheet' href='/css/woocommerce.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='/css/jquery.bxslider.min.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='/css/font-awesome.min.css' type='text/css' media='all'/>
        <link rel='stylesheet' href='/css/style.css' type='text/css' media='all'/>
        <link rel='stylesheet'
              href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700'
              type='text/css' media='all'/>
        <link rel='stylesheet' href='/css/easy-responsive-shortcodes.css' type='text/css' media='all'/>
    </head>


    <body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
    <div id="page">
        <div>
            <header id="masthead" class="site-header">
                <div class="site-branding">
                    <section>
                        <h1 class="site-title"><a href="/" rel="home" style="padding-right:0">Kh Closet</a></h1>
                    </section>
                    <h2 class="site-description">
                        <a href="/admin/item/new" sec:authorize="hasRole('ADMIN')">Admin Page |</a>
                        <a href="/members/login" sec:authorize="isAnonymous()"> Login |</a>
                        <a href="/members/logout" sec:authorize="isAuthenticated()"> Logout </a>
                        <a href="/members/new" sec:authorize="isAnonymous()">Sign Up </a>
                        <a href="/cart" sec:authorize="isAuthenticated()">| Mypage</a>
                    </h2>
                </div>
            </header>
            <script src='/js/jquery.js'></script>
            <script src='/js/plugins.js'></script>
            <script src='/js/scripts.js'></script>
            <script src='/js/masonry.pkgd.min.js'></script>
        </div>
    </div>


    </body>
</div>

</html>
